.cursor {
  display: inline-block;
  width: 10px;
  background-color: transparent;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    background-color: #6c63ff; /* Cursor color */
  }
}
