<div class="bg-gray-50 py-12">
    <div class="container mx-auto px-6 lg:px-20">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
        <!-- Image Section -->
        <div>
          <img
            src="/assets/me.jpg"
            alt="About Us"
            class="rounded-lg shadow-lg"
          />
        </div>
  
        <!-- Text Section -->
        <div>
          <h2 class="text-3xl font-bold text-gray-800 mb-6">
            About Us
          </h2>
          <p class="text-gray-600 leading-relaxed mb-6">
            Welcome to our platform! We are passionate about providing high-quality services that meet your needs. Our team is dedicated to innovation, excellence, and building meaningful relationships with our clients.
          </p>
          <p class="text-gray-600 leading-relaxed">
            With years of experience in the industry, we strive to exceed expectations and deliver results that make a difference. Join us on this journey and experience what we have to offer.
          </p>
  
          <!-- Call-to-Action -->
          <div class="mt-6">
            <a
              href="/assets/images/Raghvendra-Mishra-1year.pdf"
              class="inline-block bg-blue-600 text-white px-6  rounded-xl shadow-md hover:bg-blue-700 transition"
              target="_blank"
            >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="h-1">
                <path strokeLinecap="round" strokeLinejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
              </svg>
               Resume
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  